{% extends 'layout.html' %}

{% block content %}
{% load method_override %}
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h6>Organizations   <a href="/org" class="float-right"><button type="button" class="btn btn-sm btn-primary">New</button></a></h6>
        </div>
        <div class="card-block">
        {% for org in orgs %}
          <div class="card">
            <div class="card-header">
              <img src="{{org.link_img}}" width="70" align="left" style="margin-right: 10px;">
              <a href="/org/{{org.name}}" ><h6 class=card-title>{{org.name}}</h6></a>
              <div>homepage: <a href="{{org.link_homepage}}">{{org.link_homepage}}</a></div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h6>Requests</h6>
        </div>
        <div class="card-block">
        {% for data in org_requests %}
          <div class="card">
            <div class="card-header">
              <a href="/request/{{data.data.id}}" class="float-right"><button class="btn btn-success">join</button></a>
              <h6>{{data.org.name}}</h6>
            </div>
            <div class="card-block">
              <div>{{data.org.description}}</div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h6>Current task</h6>
        </div>
        <div class="card-block">
          {% for work in works %}
            <div class="card">
              <div class="card-header">
                <form method="post" action="/task/{{work.data.id}}" class="float-right">
                  {% csrf_token %}
                  {% method_override "PUT" %}
                  <input type="hidden" name="job_id" value="{{work.job.id}}">
                  <input type="submit" class="btn btn-primary btn-sm" value="Finish">
                </form>
                <form method="post" action="/task/{{work.data.id}}" class="float-right">
                  {% csrf_token %}
                  {% method_override "DELETE" %}
                  <input type="hidden" name="job_id" value="{{work.job.id}}">
                  <input type="submit" class="btn btn-danger btn-sm" value="Cancel">
                </form>
                <h6><a href="/task/{{work.data.id}}">{{work.job.title}}</a></h6>
              </div>
              <div class="card-block">
                <div>{{work.job.description}}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h6>Recent my task</h6>
        </div>
        <table class="table table-responsive table-borderd" style="overflow-y: auto;max-height:500px;">
          <thead>
            <tr>
              <th>Name</th>
              <th>Completed</th>
              <th>Datetime</th>
              <th>User</th>
              <th>Path</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks %}
              <tr>
                <td>{{task.job.title}}</td>
                <td>{{task.data.completed}}</td>
                <td>{{task.data.date_update}}</td>
                <td>{{task.user.name}}</td>
                <td>{{task.path}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}