{% extends 'layout.html' %}

{% block content %}
<nav class="navbar navbar-inverse" style="background-color: #{{org.color}}">
  <div class="navbar-brand" style="color: #000000;"><a href="/org/{{org.name}}"><b>{{org.name}}</b></a>:/  /{{project.title}}</div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h5>{{org.name}}</h5>
          <div>homepage <a href="{{org.link_homepage}}">{{org.link_homepage}}</a><button type="button" class="btn btn-success btn-sm float-right" align="right">Settings</button></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h6>Projects   <div class="float-right">
            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModalLong">New</button></div></h6>
        </div>
        <div class="card-block">
        {% for project in projects %}
          <div class="card">
            <div class="card-header">
              <a href="/org/{{org.name}}/{{project.title}}"><h6 class=card-title>{{project.title}} </h6></a>
              <div>Until {{project.date_deadline.year}}/{{project.date_deadline.month}}/{{project.date_deadline.day}}</div>
            </div>
            <div class="card-block">
              <div class="card-text">{{project.description}}</div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h6>Deadlines</h6>
        </div>
        {% for deadline in deadlines %}
          <div class="card-text">{{deadline.deadline.year}}/{{deadline.deadline.month}}/{{deadline.deadline.day}} : {{deadline.path}}</div>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h6>Commits
          <div class="float-right"><button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#CommitModal">New</button></div></h6>
        </div>
        {% for commit in commits %}
          <div class="card-text">{{commit.date_create.year}}/{{commit.date_create.month}}/{{commit.date_create.day}} {{commit.path}} : {{commit.body}}</div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">New Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Name(alphabet )</label>
            <input type="text" pattern="[A-Za-z0-9\-\+\_]+" name="name" maxlength="30" class="form-control" id="name" placeholder="Enter project name" required>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" name="description" maxlength=255"" class="form-control" id="description" placeholder="Enter description" required></textarea>
          </div>
          <div class="form-group">
            <label for="deadline">Deadline</label>
            <input type="date" name="deadline" class="form-control" id="deadline" placeholder="Enter project name" required>
          </div>
          <div class="form-froup">
            <button type="submit" class="btn btn-primary btn-block">Create new project</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="CommitModal" tabindex="-1" role="dialog" aria-labelledby="CommitModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CommitModalTitle">New Job</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="/commit">
          {% csrf_token %}
          <div class="form-group">
            <label for="body">Body</label>
            <textarea type="text" name="body" maxlength=255"" class="form-control" id="body" placeholder="Enter text" required></textarea>
          </div>
          <div class="form-group">
            <label for="url">To</label>
            <input type="text" name="url" maxlength=255"" class="form-control" id="body" value="{{org.name}}" required/>
          </div>
          <div class="form-froup">
            <button type="submit" class="btn btn-primary btn-block">Send Commit</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<br>
{% if message %}
  <h6>{{message}}</h6>
{% endif %}
{% endblock %}

{% block script %}
<script>
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').focus()
  })
  console.log("hello")
</script>
{% endblock %}