{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h6>Projects   <a href="/org" class="float-right"><button type="button" class="btn btn-sm btn-primary">New</button></a></h6>
        </div>
        <div class="card-block">
        {% for org in orgs %}
          <div class="card">
            <div class="card-header">
              <h6 class=card-title>{{org.name}}</h6>
            </div>
            <div class="card-block">
              <div class="card-text">{{org.author}}</div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h6>Recent Commits</h6>
        </div>
        {% for deadline in deadlines %}
          <div class="card-text">{{deadline.date}} : {{deadline.path}}</div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h6>Recent Commits</h6>
        </div>
        {% for commit in commits %}
          <div class="card-text">{{commit.date}} {{commit.path}} : {{commit.body}}</div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}