<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  
  <title>DeadLiner</title>
</head>
<body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" href="/">Deadliner Organization form</a>
  </nav>
  <div class="row">
    <div class="col col-md-6 offset-md-3">
      {% if message %}
        <h5>Error {{message}}</h5>
      {% endif %}
      <form action="/org" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="name">Organization name</label>
          <input type="text" maxlength="30" name="name" class="form-control" id="name" placeholder="Enter name" required>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea type="text" name="description" class="form-control" id="description" placeholder="Enter description" required></textarea>
        </div>
        <div class="form-group">
          <label for="img">image src</label>
          <input type="text" name="img" class="form-control" id="img" placeholder="Enter img src ex)http://matorix.tk/home.png" required>
        </div>
        <div class="form-group">
          <label for="homepage">homepage</label>
          <input type="text" name="homepage" class="form-control" id="homepage" placeholder="Enter img src ex)http://matorix.tk" required>
        </div>
        <div class="form-froup">
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>