{% extends 'layout.html' %}

{% block content %}
<nav class="navbar navbar-inverse bg-inverse">
  <h1 class="navbar-brand mb-0">{{org.name}}  /{{project.title}}</h1>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h6>Jobs   <div class="float-right">
            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModalLong">New</button></div></h6>
        </div>
        <div class="card-block">
        {% for job in jobs %}
          <div class="card">
            <div class="card-header">
              <a href="/org/{{org.name}}/{{project.title}}"><h6 class=card-title>{{job.title}} </h6></a>
              <div>Until {{job.date_deadline.year}}/{{job.date_deadline.month}}/{{job.date_deadline.day}} {{job.date_deadline.hour}} o'clock</div>
            </div>
            <div class="card-block">
              <div class="card-text">{{job.description}}</div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h6>Recent Deadlines</h6>
        </div>
        {% for deadline in deadlines %}
          <div class="card-text">{{deadline.date}} : {{deadline.path}}</div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h6>Recent Commits</h6>
        </div>
        {% for commit in commits %}
          <div class="card-text">{{commit.date}} {{commit.path}} : {{commit.body}}</div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">New Job</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Name(alphabet, - , _ and +. not use space)</label>
            <input type="text" pattern="[A-Za-z0-9\.\*\+\?\-\[\]\(\)~\^\$\{\}\\!'%&=¥<>_:;]+" name="name" maxlength="30" class="form-control" id="name" placeholder="Enter Job name" required>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" name="description" maxlength=255"" class="form-control" id="description" placeholder="Enter description" required></textarea>
          </div>
          <div class="form-group">
            <label for="deadline">Deadline</label>
            <input type="datetime-local" name="deadline" class="form-control" id="deadline" placeholder="Enter project name" required>
          </div>
          <div class="form-froup">
            <button type="submit" class="btn btn-primary btn-block">Create new Job</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<br>
{% if message %}
  <h6>{{message}}</h6>
{% endif %}
{% endblock %}

{% block script %}
<script>
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').focus()
  })
  console.log("hello")
</script>
{% endblock %}